.sfdcDevDiv {
    text-align: center;
   
 }

 .main {
    background-color: black;
    color: white;
    height: 50px;
 }

 .dev {
    background-color: ivory;
    padding-top: 20px;
    display: none;
 }

 .pageTitle {
    text-align: center;
    text-decoration: underline;
 }

 .devNav {
    padding: 5px; 
    background-color: lightgreen;
    border-radius: 5px;
    filter: drop-shadow(0 0 2px black);
    height: 100px;
    width: 30%;
    margin: auto;
    cursor: pointer;
    margin-top: 10px;
}

.releaseSec {
    float:left; 
    color: #585858; 
    font-weight: bold; 
    font-size: small; 
    font-style: oblique;
}

.releaseName {
    font-size: 15px; 
    font-style: normal;
    color: darkblue;  
}

.archiveSec {
    float:right; 
    color: #585858; 
    font-weight: bold; 
    font-size: small; 
    font-style: oblique;
 }

 .releaseTitle {
    text-align:center; 
    margin-top: -20px; 
    margin-bottom: -10px;
 }
