.featureSection {
    padding: 5px; 
    /*border-style: solid;*/
    background-color: beige;
    border-radius: 5px;
    filter: drop-shadow(0 0 2px black);
    height: auto;
}

.featureTitle {
    float:left; 
    font-weight:bold;
}

.featureTitle .index {
    color: #b80000; 
    margin-top: -4px; 
    font-size: 2rem; 
    margin-right: 10px;
}

.featureTitle .label {
    font-size: 2rem;
}

.featureTitle .identityDiv {
    margin-left: 30px; 
    font-style: oblique;
}

.identityDiv .identityText {
    float:left; 
    text-transform: lowercase; 
    color: #585858;
}

.identityDiv .identityVal {
    color: mediumvioletred;
}

.identityDiv .IdImg {
    height: 15px;
}

.featureBody {
    text-align: left; 
    margin-left: 15px; 
    margin-top: 5rem;
    font-family: sans-serif;
}

.codeBlock {
    filter: drop-shadow(0 0 2px black);
    margin-bottom: 10px;
}

.featureNav:hover {
    filter: drop-shadow(0 0 1pc black);
}

/*.featureNav {
    padding: 5px; 
    background-color: #E7ECFF;
    border-radius: 5px;
    filter: drop-shadow(0 0 2px black);
    height: auto;
    width: 20%;**/
    /*margin: auto;
    cursor: pointer;
    margin: 15px;
    text-align: left;
    font-family: sans-serif;
}

.featureNav .featureNavTitle {
    color: #5677f5;
    margin: 10px 10px 0 10px; 
}

.featureNav .featureNavTextDiv {
    display: flex;
    flex-direction: column;
}

.featureNav .featureNavTextDiv p {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    width: 40%;
}

.featureNav .featureNavTextDiv p  span{
    font-size: 1.2rem;
    text-decoration:none;
    color: #5677f5; 
    font-weight: 700;
}*/

 /*@media screen and (min-width: 1024px) {
    .container {
        max-width:960px
    }
 }
 
@media screen and (min-width: 1216px) {
    .container:not(.is-max-desktop) {
        max-width:1152px
    }
 }
 
 @media screen and (min-width: 1408px) {
    .container:not(.is-max-desktop):not(.is-max-widescreen) {
        max-width:1344px
    }
 }*/

 @media screen and (min-width: 1024px) {
    .featureNavDiv {
        display:flex; 
        flex-direction:row; 
        flex-wrap: wrap; 
        margin: 0 0 0 65px;
    }

    .featureNav {
        padding: 5px; 
        background-color: #E7ECFF;
        border-radius: 5px;
        filter: drop-shadow(0 0 2px black);
        height: auto;
        width: 20%;
        /*margin: auto;*/
        cursor: pointer;
        margin: 15px;
        text-align: left;
        font-family: sans-serif;
    }

    .featureNav .featureNavTitle {
        color: #5677f5;
        margin: 10px 10px 0 10px; 
    }
    
    .featureNav .featureNavTextDiv {
        display: flex;
        flex-direction: column;
    }
    
    .featureNav .featureNavTextDiv p {
        padding: 20px;
        margin: 20px;
        background-color: white;
        border-radius: 5px;
        width: 45%;
    }
    
    .featureNav .featureNavTextDiv p  span{
        font-size: 1.2rem;
        text-decoration:none;
        color: #5677f5; 
        font-weight: 700;
    }
 }

 @media screen and (min-width: 768px) and (max-width: 1024px) {
    .featureNavDiv {
        display:flex; 
        flex-direction:row; 
        flex-wrap: wrap; 
        margin: 0 0 0 65px;
    }

    .featureNav {
        padding: 5px; 
        background-color: #E7ECFF;
        border-radius: 5px;
        filter: drop-shadow(0 0 2px black);
        height: auto;
        width: 25%;
        /*margin: auto;*/
        cursor: pointer;
        margin: 15px;
        text-align: left;
        font-family: sans-serif;
    }

    .featureNav .featureNavTitle {
        color: #5677f5;
        margin: 10px 10px 0 10px; 
    }
    
    .featureNav .featureNavTextDiv {
        display: flex;
        flex-direction: column;
    }
    
    .featureNav .featureNavTextDiv p {
        padding: 20px;
        margin: 20px;
        background-color: white;
        border-radius: 5px;
        width: 45%;
    }
    
    .featureNav .featureNavTextDiv p  span{
        font-size: 1rem;
        text-decoration:none;
        color: #5677f5; 
        font-weight: 700;
    }
 }

 @media screen and (min-width: 568px) and (max-width: 768px) {
    .featureNavDiv {
        display:flex; 
        flex-direction:row; 
        flex-wrap: wrap; 
        margin: 0 0 0 65px;
    }

    .featureNav {
        padding: 5px; 
        background-color: #E7ECFF;
        border-radius: 5px;
        filter: drop-shadow(0 0 2px black);
        height: auto;
        width: 40%;
        /*margin: auto;*/
        cursor: pointer;
        margin: 15px;
        text-align: left;
        font-family: sans-serif;
    }

    .featureNav .featureNavTitle {
        color: #5677f5;
        margin: 10px 10px 0 10px; 
    }
    
    .featureNav .featureNavTextDiv {
        display: flex;
        flex-direction: column;
    }
    
    .featureNav .featureNavTextDiv p {
        padding: 20px;
        margin: 20px;
        background-color: white;
        border-radius: 5px;
        width: 45%;
    }
    
    .featureNav .featureNavTextDiv p  span{
        font-size: 1.2rem;
        text-decoration:none;
        color: #5677f5; 
        font-weight: 700;
    }
 }

 @media screen and (min-width: 450px) and (max-width: 568px) {
    .featureNavDiv {
        display:flex; 
        flex-direction:row; 
        flex-wrap: wrap; 
        margin: 0 0 0 65px;
    }

    .featureNav {
        padding: 5px; 
        background-color: #E7ECFF;
        border-radius: 5px;
        filter: drop-shadow(0 0 2px black);
        height: auto;
        width: 60%;
        /*margin: auto;*/
        cursor: pointer;
        margin: 15px;
        text-align: left;
        font-family: sans-serif;
    }

    .featureNav .featureNavTitle {
        color: #5677f5;
        margin: 10px 10px 0 10px; 
    }
    
    .featureNav .featureNavTextDiv {
        display: flex;
        flex-direction: column;
    }
    
    .featureNav .featureNavTextDiv p {
        padding: 20px;
        margin: 20px;
        background-color: white;
        border-radius: 5px;
        width: 40%;
    }
    
    .featureNav .featureNavTextDiv p  span{
        font-size: 1.2rem;
        text-decoration:none;
        color: #5677f5; 
        font-weight: 700;
    }
 }

 @media screen and (max-width: 450px) {
    .featureNavDiv {
        display:flex; 
        flex-direction:row; 
        flex-wrap: wrap; 
        margin: 0 0 0 0;
    }

    .featureNav {
        padding: 5px; 
        background-color: #E7ECFF;
        border-radius: 5px;
        filter: drop-shadow(0 0 2px black);
        height: auto;
        width: 70%;
        /*margin: auto;*/
        cursor: pointer;
        margin: 15px;
        text-align: left;
        font-family: sans-serif;
    }

    .featureNav .featureNavTitle {
        color: #5677f5;
        margin: 10px 10px 0 10px; 
    }
    
    .featureNav .featureNavTextDiv {
        display: flex;
        flex-direction: column;
    }
    
    .featureNav .featureNavTextDiv p {
        padding: 20px;
        margin: 10px;
        background-color: white;
        border-radius: 5px;
        width: 40%;
    }
    
    .featureNav .featureNavTextDiv p  span{
        font-size: 0.7rem;
        text-decoration:none;
        color: #5677f5; 
        font-weight: 700;
    }
 }
